/*optgroup {
    color: red;
}
option {
    background-color: white;
    color: black;
}*/

/* General */
body {
	background: #E5E5E5;
	margin: 0;
	padding: 0;
}

a {
	color: #0000FF;
	/*border-bottom: 1px dotted #000;
    text-decoration: none;*/
}

a:hover {
	color: #FF0000;
}

/* ID */
/* - Header */
#h {
	background: #333333; /*#274807;*/ /*#142C50;*/
	border-bottom: 1px solid #FFFFFF;
	box-shadow: 0px 3px 2px #888888;
	-moz-box-shadow: 0px 3px 2px #888888;
	-webkit-box-shadow: 0px 3px 2px #888888;
	position: fixed;
	width: 100%;
	z-index: 300;
}

#hContent {
	color: #FFFFFF;
	font-family: Calibri,"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
	font-size: 12px;
	margin: 0 auto;
	max-width: 980px;
}

#hInformation {
	background: #FF0000; 
	display: none;
	font-weight: bold;
	text-align: center;
}

#hTitle {
	background: #1A619E;
	float: left;
	font-size: 24px;
	padding: 0px 15px 1px 15px;
}

#hTitle:hover {
	background: #1A619E;
}

#hTitle a {
	color: #FFFFFF;
	text-decoration: none;
	border-bottom: none;
}

#hTitle a:hover {
	text-decoration: none;
	border-bottom: none;
}

#hMenuLeft {
	float: left;
}

#hMenuRight {
	float: right;
	overflow: hidden;
	padding: 5px 15px 5px 8px;
}

a.hLink {
	color: #FFFFFF;
	text-decoration: none;
}

a.hLink:hover {
	color: #FF0000;
	text-decoration: none;
}

/* - Body */
#b {
	width: 100%;
}

#bContent {
	color: #000000;
	font-family: Calibri,"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
	font-size: 12px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	max-width: 980px;
}

h1.bTitle {
	margin-top: 40px;
}

a.bTitle {
	color: #000000;
	text-decoration: none;
}

/* - Inside Body */
#dataEntri, 
#dataEntri2 {
	
}

#dataView {
	
}

#toolbarEntri {
	padding: 2px;
}

#toolbarEntri2 {
	background: #F0F0F0;
	border: 1px solid #80B1D3;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	box-shadow: 0px 3px 2px #888888;
	-moz-box-shadow: 0px 3px 2px #888888;
	-webkit-box-shadow: 0px 3px 2px #888888;
	display: none;
	padding: 2px;
	position: fixed;
	top: 30px;
	z-index: 299;
}

#pageNavigation {
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: center;
}

#pageNavigation img {
	vertical-align: middle;
}

#pageFilter {
	float: right;
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: right;
}

#pageFilter input {
	vertical-align: middle;
}

/* - Specific Inside Body */

.trJenis {
	
}
		
		.trJenis.selected {
			background: #E7BD42;
			font-weight: bold;
		}

.trUmum:hover, .trKhusus:hover {
	background: #ECDF7A !important;
}

.smallBox {   
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
    display: inline-block;
    margin: 5px 5px 5px 5px;
    width: 20px;
    height: 20px;
}

/* - Footer */
#f {
	background: #EDEDED;
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
	bottom: 0px;
	position: fixed;
	width: 100%;
}

#fContent {
	color: #000000;
	font-family: Calibri,"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
	font-size: 12px;
	margin: 0 auto;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
	max-width: 980px;
}

/* Class */
div.clear {
	clear: both; 
} 

div.halaman {
	background: #ecdf7a;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px;
}

		div.halaman.login {
			color: #333333;
			margin: 0 auto;
			text-align: center;
		}
		
		div.halaman.debug {
			background: #FFFFFF url('../images/icons/sql.png') no-repeat 10px;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			padding: 10px;
			padding-left: 30px;
			margin-bottom: 5px;
			text-align: left;
		}

		/*bt=border-top*/
		div.halaman.bt {
			border-top: dotted 1px #888888;
		}

div.halamanAtas {
	background: #FFFFFF;
	border-bottom: dotted 1px #888888;
	border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	padding: 10px;
}

div.halamanTengah {
	background: #FFFFFF;
	padding: 10px;
}

		/*bb=border-bottom*/
		div.halamanTengah.bb {
			border-bottom: dotted 1px #888888;
		}

		/*bb=border-top*/
		div.halamanTengah.bt {
			border-top: dotted 1px #888888;
		}

div.halamanBawah {
	background: #FFFFFF;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	padding: 10px;
}

div.column1 {
	float: left;
	width: 50%;
}

div.column2 {
	float: right;
	width: 50%;
}

div.section {
	background: #F5F5F5;
	border: 1px solid #E3E3E3;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 0px 5px 20px 5px;
	padding: 10px;
}

div.msgError {
	background: #FFFFCC url('../images/icons/exclamation.png') no-repeat 3px 3px;
	border: 1px solid #FF0000;
	border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	color: #ff0000;
    padding: 4px 4px 4px 22px;
}

div.msgOK {
	background: #F0FFF0 url('../images/icons/accept.png') no-repeat 3px 3px;
	border: 1px solid #00FF00;
	border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 4px 4px 4px 22px;
}

div.msgStatus {
	background: url('../images/icons/information.png') no-repeat 3px 3px;
    color: #3C70B3;
    padding: 4px 4px 4px 22px;
}

.box {
	border: 1px solid #808080;
	border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #000000;
	font-family: Calibri,"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
	font-size: 12px;
}

		.box.readonly {
			background: #F0F0F0;
			border: none;
		}

.window {
	font-family: Calibri,"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
	font-size: 12px;
}

/*Option*/
/*.opsiFull {
	background-color: #468847;
}

.opsiRead {
	background-color: #3A87AD;
}

.opsiNone {
	background-color: #B94A48;
}*/

.tombol {
	background: #FFFFFF;
	border: 1px solid #808080;
	border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #000000;
	cursor: pointer;
	font-family: Calibri,"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
	font-size: 12px;
	height: 24px;
}

	.tombol.calendar {
		background: #FFFFFF url('../images/icons/calendar.png') no-repeat 3px 3px;
		padding-left: 10px;
	}
	
	.tombol.cancel {
		border: 1px solid #FF0000;
		background: #FFFFFF url('../images/icons/cancel.png') no-repeat 3px 3px;
		color: #FF0000;
		padding-left: 20px;
		padding-right: 10px;
	}
	
	.tombol.edit {
		background: #FFFFFF url('../images/icons/pencil.png') no-repeat 3px 3px;
		padding-left: 10px;
	}
	
	.tombol.find {
		background: #FFFFFF url('../images/icons/zoom.png') no-repeat 3px 3px;
		padding-left: 10px;
		padding-right: 11px;
	}
	
	.tombol.find2 {
		background: #FFFFFF url('../images/icons/zoom.png') no-repeat 3px 3px;
		padding-left: 20px;
		padding-right: 10px;
	}
	
a.tombol {
	padding: 4px;
	text-decoration: none;
	display: inline-block;
	height: 16px;
}
	
a.tombol:hover {
	color: #000000;
}

input, textarea, select {
	padding: 5px;
}

input.error, textarea.error {
	background: #f8dbdb;
	border-color: #E77776;
}

span.wajib {
	color: #FF0000;
}

.placeholder {
	color: #AAA;
}

.badge {
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	color: #FFFFFF;
	display: inline-block;
	font-weight: bold;
	line-height: 14px;
	padding: 2px 9px 2px 9px;
	vertical-align: baseline;
	white-space: nowrap;
}

		.badge.close,
		.badge.belum,
		.badge.tidak,
		.badge.read,
		.badge.openonly,
		.badge.important {
			background-color: #B94A48;	/* red */
		}
		
		.badge.warning {
			background-color: #F89406;	/* orange */
		}
		
		.badge.open,
		.badge.sudah,
		.badge.ya,
		.badge.full,
		.badge.openclose,
		.badge.success {
			background-color: #468847;	/* green */
		}
		
		.badge.info {
			background-color: #3A87AD;	/* blue */
		}
		
		.badge.tidak.ada, 
		.badge.inverse {
			background-color: #333333;	/* black */
		}
		
		.badge.none {
			background-color: transparent;
			color: transparent;
			text-decoration: line-through;
		}

ul.noImage {
	list-style-type: none; 
	margin: 0px;
	padding-left: 0px;
}

ul.noImage li {
	list-style-type: none; 
	padding: 3px;
}

		ul.noImage li.proyek {
			background: url('../images/icons/package.png') no-repeat;
			padding-left: 20px;
		}

		ul.noImage li.milestone {
			background: url('../images/icons/flag_red.png') no-repeat;
			padding-left: 20px;
		}

		ul.noImage li.tugas {
			background: url('../images/icons/script.png') no-repeat;
			padding-left: 20px;
		}

		ul.noImage li.user {
			background: url('../images/icons/user.png') no-repeat;
			padding-left: 20px;
		}

		ul.noImage li.user_admin {
			background: url('../images/icons/user_gray.png') no-repeat;
			padding-left: 20px;
		}

		ul.noImage li.user_owner {
			background: url('../images/icons/user_suit.png') no-repeat;
			padding-left: 20px;
		}

		ul.noImage li.user_staf {
			background: url('../images/icons/user.png') no-repeat;
			padding-left: 20px;
		}

		ul.noImage li.user_client {
			background: url('../images/icons/user_red.png') no-repeat;
			padding-left: 20px;
		}

/* Table */
table.dataTable {
	background: #fff;
	border-collapse: collapse;
	border-top: 3px solid #9BAFF1;
	border-bottom: 3px solid #9BAFF1;
	font-size: 12px;
	text-align: left;
	width: 100%;
}

		table.dataTable th {
			background: #EBECEE url('../images/table/grid3-hrow.png') repeat-x;
			border-bottom: 1px solid #6678B1;
			color: #039;
			font-size: 14px;
			font-weight: normal;
			padding: 3px 8px;
		}
		
		table.dataTable td {
			border-bottom: 1px solid #CCC;
			color: #669;
			padding: 3px 8px;
			vertical-align: top;
		}
		
		table.dataTable tbody tr.selected {
			background: #FF9900;
		}
		
		table.dataTable tbody tr.selected td {
			color: #000;
		}
		
		table.dataTable tbody tr:hover td {
			background: #D0DAFD;
			color: #009;
		}
		
		table.dataTable .odd, div .odd {
			background: #E8EDFF; 
		}

table.editTable {
	
}

		table.editTable tr {
			height: 30px;
		}

		table.editTable td {
			/*vertical-align: top;*/
		}

table.readTable {
	
}

		table.readTable tr {
			height: 30px;
		}

		table.readTable td {
			vertical-align: top;
		}

table.readTable2 {
	
}

		table.readTable2 tr {
			height: 30px;
		}

		table.readTable2 td {
			vertical-align: middle;
		}

/* Button */
.button-link, a.button-link{
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	border-color: #274807 !important;
	background: #4c8e0e url(../images/button-bg/link-green-standard.png) 0 0 repeat-x;
	color: #fff;
	cursor: pointer;
	-webkit-background-clip: padding-box;
	border: 1px solid #477a09;
	display: block;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.0em;
	padding: 6px 8px 9px;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px
}

.button-link:hover,.button-link:focus,.button-link:active,a.button-link:hover,a.button-link:focus,a.button-link:active{
	background: #38690a url(../images/button-bg/link-green-standard-over.png) 0 0 repeat-x
}

.button-link:active,a.button-link:active{
	position: relative;
	top: 1px
}

.button-link.arrow span,a.button-link.arrow span{
	background: url(../images/button/link-down-arrow.png) center right no-repeat;padding-right:20px
}

.button-link.arrow.small span,a.button-link.arrow.small span{
	background-image: url(../images/button/link-down-arrow-small.png)
}

.button-link.arrow.next span,a.button-link.arrow.next span{
	background-image: url(../images/button/link-arrow-next.png)
}

.button-link.arrow.previous span,a.button-link.arrow.previous span{
	background: url(../images/button/link-arrow-previous.png) center left no-repeat;
	padding-right: 0px;
	padding-left: 20px
}

.button-link.small,a.button-link.small{
	color: #fff;
	font-size: 12px;
	padding: 4px 10px 6px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px
}

.button-link.grey,a.button-link.grey{
	border-color: #c2c2c2 !important;
	background: #e8e8e8 url(../images/button-bg/link-grey.png) 0 0 repeat-x;
	color: #516f83
}

.button-link.grey:hover,.button-link.grey:focus,.button-link.grey:active,a.button-link.grey:hover,a.button-link.grey:focus,a.button-link.grey:active{
	background: #d4d4d4 url(../images/button-bg/link-grey-over.png) 0 0 repeat-x
}

.button-link.dark-grey,a.button-link.dark-grey{
	border-color: #2f373d !important;
	background: #505e68 url(../images/button-bg/link-dark-grey.png) 0 0 repeat-x;
	padding: 4px 8px 6px
}

.button-link.dark-grey:hover,.button-link.dark-grey:focus,.button-link.dark-grey:active,a.button-link.dark-grey:hover,a.button-link.dark-grey:focus,a.button-link.dark-grey:active{
	background: #3e4951 url(../images/button-bg/link-dark-grey-over.png) 0 0 repeat-x
}

.button-link.blue,a.button-link.blue{
	border-color: #80b1d3 !important;
	background: #b9d4e7 url(../images/button-bg/link-blue.png) 0 0 repeat-x;
	color: #516f83
}

.button-link.blue:hover,.button-link.blue:focus,.button-link.blue:active,a.button-link.blue:hover,a.button-link.blue:focus,a.button-link.blue:active{
	background: #9bc1dd url(../images/button-bg/link-blue-over.png) 0 0 repeat-x
}

.button-link.blue:hover,a.button-link.blue:hover{
	color: #344754
}

.button-link.dark-blue,a.button-link.dark-blue{
	border-color: #073a5c !important;
	background: #0d66a3 url(../images/button-bg/link-dark-blue.png) 0 0 repeat-x
}

.button-link.dark-blue:hover,.button-link.dark-blue:focus,.button-link.dark-blue:active,a.button-link.dark-blue:hover,a.button-link.dark-blue:focus,a.button-link.dark-blue:active{
	background: #0a4e7d url(../images/button-bg/link-dark-blue-over.png) 0 0 repeat-x
}

.button-link.orange,a.button-link.orange{
	border-color: #073a5c !important;
	background: #0d66a3 url(../images/button-bg/link-orange.png) 0 0 repeat-x
}

.button-link.orange:hover,.button-link.orange:focus,.button-link.orange:active,a.button-link.orange:hover,a.button-link.orange:focus,a.button-link.orange:active{
	background: #0a4e7d url(../images/button-bg/link-orange-over.png) 0 0 repeat-x
}

.button-link.grey,.button-link.blue,a.button-link.grey,a.button-link.blue{
	text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0
}

.button-link.shadow,.button-link#page,a.button-link.shadow,a.button-link#page,
.button-link.shadow,.button-link#page2,a.button-link.shadow,a.button-link#page2,
.button-link.shadow,.button-link#page3,a.button-link.shadow,a.button-link#page3{
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0;
	-o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0
}

.button-link.no-border,a.button-link.no-border{
	border: 0
}

.button-link.inline,a.button-link.inline{
	display: inline-block
}

.button-group{
	padding-bottom: 1px
}

.button-group .button-link{
	display: inline-block
}

/* Checkbox */
.cb-enable, .cb-netral, .cb-disable, .cb-enable span, .cb-netral span, .cb-disable span { 
	background: url(../images/switch.png) repeat-x; 
	display: block; 
	float: left; 
	font-weight: bold;
}

.cb-enable span, .cb-netral span, .cb-disable span { 
	line-height: 30px; 
	display: block; 
	background-repeat: no-repeat; 
}

.cb-enable span { 
	background-position: left -90px; 
	padding: 0 10px; 
}

		.cb-enable.selected { 
			background-position: 0 -60px; 
		}
		
		.cb-enable.selected span { 
			background-position: left -150px; 
			color: #FFFFFF; 
		}

.cb-netral span { 
	padding: 0 10px; 
}

		.cb-netral.selected { 
			
		}
		
		.cb-netral.selected span { 
			background: #000000;
			color: #FFFFFF; 
		}

.cb-disable span { 
	background-position: right -180px;
	padding: 0 10px; 
}

		.cb-disable.selected { 
			background-position: 0 -30px; 
		}
		
		.cb-disable.selected span { 
			background-position: right -210px; 
			color: #FFFFFF; 
		}

.switch label { 
	cursor: pointer; 
}

/* Additional */
.ui-state-active { 
	background-color: #FF0000;
}

.ui-state-highlight { 
	background-color: #00FF00 !important;
}

.kbli {
	background: #E7BD42;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	/*display: inline-block;*/
	margin: 2px;
	padding: 8px;
}

.kbli a {
	text-decoration: none;
}